@import url("https://fonts.googleapis.com/css2?family=Inconsolata");

:root {
    --font: "Inconsolata", monospace;
    --color-text: #f0f0f0;
    --color-bg: #1a1a1a;
    --color-link: #00ff00;
    --color-link-hover: #003f00;
}

body {
    font-family: var(--font);
    color: var(--color-text);
    background-color: var(--color-bg);
}

.content {
    max-width: 50%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .content {
        max-width: 70%;
    }
}

.title {
    font-size: 34px;
    margin-bottom: 10px;
}

hr {
    border: 1px hidden var(--color-text);
    border-top-style: solid;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-top: 50px;
}

a {
    color: var(--color-link);
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px var(--color-link) dashed;
}
a:hover {
    background-color: var(--color-link-hover);
}

table {
    margin: 30px auto 30px auto;
}

th, td {
    padding: 5px 15px 5px 15px;
}

form {
    text-align: center;
}

input {
    border: 2px solid #525252;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font);
    font-size: 16px;
    width: 80%;
}
input:focus {
    outline: none;
}

#time, #date {
    text-align: center;
}